@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Balsamiq+Sans&family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&display=swap');
footer *{
	margin:0;
	padding:0;
	box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}
.row{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
ul{
	list-style: none;
}

.footer{
	background-color: rgb(20, 4, 20);
    padding: 50px;
    height: 100%;
	justify-content: center;
	width: 100%;
	display: flex;
	flex-direction: row;
	
}



.footer-col{
	width: 10%;
	display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 600;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:-5spx;
	bottom: -10px;
	background-color: #58bb16;
	height: 2px;
	box-sizing: border-box;
	width: 100%;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.first-ul{
	margin-left: 1rem;
}
.second-ul{
	margin-right: 20px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ddcf6a;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #c9df78;
	padding-left: 8px;
	
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

::-webkit-scrollbar {
	width: 15px;
  }
  
  ::-webkit-scrollbar-track {
	background-color: white;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #2d2d2efa;
	background-clip: content-box;
	border: 2px solid transparent;
	border-radius: 15px;
  }

.containeer{
	width: 100%;
	align-items: center;
	justify-content: center;
}
