*{
    margin: 0;
    padding: 0%;
}
body{
    /* background-color:#fefefe; */
    /* background: rgb(2,0,36); */
      /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(204, 3, 3) 16%, rgb(0, 89, 255) 100%);  */
      background:  rgba(241, 230, 143, 0.792) ;

}
.nav-bar{
    background-color: rgb(92, 6, 6); 
    padding: 10px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 40%);
    background: linear-gradient(to bottom right, #000000 0%, #01110c 100%);
    border-bottom: 2px white solid;
    border-top: 2px white solid;
    
}
.nav-bar a {
    color: white;
    font-size: 15px;
    padding: 7px;
    text-decoration: none;
    margin: 20px;  
    border: 2px solid white;
    border-radius: 5px;
   
 
  
    
}
.nav-bar a:hover{
    background-color: white;
    color: black;
}
.nav-bar ul{
   padding: 10px;
  
}
.main-section{
   
}

.image{
    /*  float: left;  */
    text-align: center;
    
}
.heading{
    margin: 20px;
    padding-top: 2%;
    padding-left: 60px;
    float:right;
    
}
.heading h1{
    font-size: 42px;
    font-weight: 900;
    text-align: left;
    color: rgb(92, 6, 6);
    
     /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  */
     font-family: cursive;
     
     

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.92);
}
.heading p{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 22px;
    
    color: rgb(80, 5, 5);
    padding-top: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.92);
}


