@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Balsamiq+Sans&family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.navbar{
 box-shadow: 0 0.1rem 0.3rem rgb(0 0 0 / 30%);
 box-shadow: 0 3px 5px rgb(0 0 0 / 40%);
    background: linear-gradient(to bottom right, #041c40 0%, #0b1a62 100%);
    border-bottom: 2px rgb(215, 102, 102) solid;
    border-top: 2px rgb(16, 5, 5) solid;
 
}
.navbar ul li a{
    font-size: 1.2rem;
  color: #2d0484;
    font-family:  'Baloo 2', cursive;
}
.navbar ul li a:hover{
    color: #5ead9b;
}
.navbar .logo{
    color: #c0bb36;
    height: 43px;
    width: 46px;
    border-radius: 27px;
    margin-left: 32px;
}
