@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    font-family: 'Inter Tight', sans-serif;
    
}

#signUpDiv .flex-col,
#APIimage,
#imageType {
    align-items: center;
}

#signUpDiv .flex-col > *:nth-child(1),
#APIimage > *:nth-child(1),
#imageType > *:nth-child(1) {
    flex: 0 0 22%;
}
.h-screen{
    background-color: aqua;
}
.signUpDiv{
    background: linear-gradient(to bottom right, #141414 0%, #5b5d69 100%);
}
.border-2{
    background: linear-gradient(to top right, #020105 0%, hsl(220, 1%, 41%) 100%);
    
}
.font-white{
    color: rgb(250, 248, 248);
}
.backcol{
    background: linear-gradient(to bottom right, #817474 0%, #5b5d69 100%);
    
}
.owncol{
    color: #f1eff5;
    border-width: 0.5px;
}
.blackcol{
    color: #0c0c0c;
}
.rq{
    color: red;
    margin-left: 178px;
}
