@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=Swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*about section styling*/
body{
    background: linear-gradient(#fff,rgba(44, 239, 229, 0.792)) ;
}
section{
    padding: 100px 0;

}
.about{
    font-family: 'Poppins',sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-weight: 700;
    margin-bottom: 80px;
    padding-bottom: 20px ;
    font-size: 45px;
    font-weight: 900;
    margin-top: -40px;
    color: rgba(150, 9, 96, 0.863);
     font-family: sans-serif;
     font-style: inherit;
    text-shadow: 1px 1px 2px rgba(205, 135, 14, 0.92);
}
.about .title::before{
    content:"";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    transform: translateX(-50%);
}
.about .title::after{
    content:" - What we created -";
    position: absolute;
    bottom: -7px;
    left: 50%;
    font-size: 20px;
    color: rgb(133, 187, 92);
    padding: 5px;
    background: transparent;
    transform: translateX(-50%);
}
.about .about-content{
     display:flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     margin-top: -50px;
}
.about .about-content .left{
     width: 45%;
}
.about .about-content .left img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}

.about  .about-content h1{
    margin-bottom: 20px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: unset;
     font-size: 28px;
     color: rgb(156, 8, 23);
     padding-top: 25px;
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.92);
     letter-spacing: 3px;
}

.about .about-content  h3{
    color:rgb(133, 187, 92);
    margin-bottom: 20px;
    font-weight: 800;
}

.about .about-content .right p{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: unset;
     font-size: 16px;
     color: rgb(156, 8, 23);
     padding-top: 10px;
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.92);
}

.about .about-content .right .first-content{
    margin-bottom: 20px;
}



@media (max-width:1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}


@media (max-width: 947px){


.about .about-content .column{
    width:100%;
}
.about .about-content .left{
    display:flex;
    justify-content: center;
    margin: 0 auto 60px;
}

}
