@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  font-family: "Inter Tight", sans-serif;
}

#signUpDiv .flex-col,
#APIimage,
#imageType {
  align-items: center;
}

#signUpDiv .flex-col > *:nth-child(1),
#APIimage > *:nth-child(1),
#imageType > *:nth-child(1) {
  flex: 0 0 22%;
}
/* .h-screen{
    background-color: aqua;
} */
.signUpDiv {
  background: linear-gradient(to bottom right, #141414 0%, #5b5d69 100%);
}
.border-2 {
  background: linear-gradient(to top right, #020105 0%, hsl(220, 1%, 41%) 100%);
}
.font-white {
  color: rgb(250, 248, 248);
}
.backcol {
  background: linear-gradient(to bottom right, #817474 0%, #5b5d69 100%);
}
.owncol {
  color: #f1eff5;
  border-width: 0.5px;
}
.blackcol {
  color: #0c0c0c;
}
#loginDiv {
  background: linear-gradient(to bottom right, #141414 0%, #5b5d69 100%);
  z-index: 0;
}
/* .form-control{
     background: linear-gradient(to bottom right, #817474 0%, #5b5d69 100%);
} */
.form-control:focus {
  border-color: gray;
  box-shadow: none;
}

.togglePass {
  position: absolute;
  top: 40%;
  right: 0.5rem;
  cursor: pointer;
  user-select: none;
}
.rq {
  color: red;
  margin-left: 178px;
}

.loader {
  position: fixed;
  z-index: 999999999 !important;
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.disappear {
  animation: vanish 3s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*---------------------------------------*/

/* ===========preloader css ==========*/
.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #f1dbbf;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 4000ms;
  z-index: 2000;
}

.preloader.hide {
  opacity: 0;
  pointer-events: none;
}
.preloader.hide {
  opacity: 0;
  pointer-events: none;
}

.preloader .preloader-text {
  color: #838383;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 15px;
}

.preloader .dots-container {
  display: flex;
  margin-bottom: 48px;
}

.preloader .dot {
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
}

.preloader .dot.red {
  background: #623005;
  animation: bounce 1000ms infinite;
}

.preloader .dot.green {
  background: #d56c16de;
  animation: bounce 1000ms infinite;
  animation-delay: 200ms;
}

.preloader .dot.yellow {
  background: #ff8000;
  animation: bounce 1000ms infinite;
  animation-delay: 400ms;
}

@keyframes bounce {
  50% {
    transform: translateY(16px);
  }

  100% {
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #2d2d2efa;
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 15px;
}

/*=================================*/
